// SIZE
$max-width: 1440px;
$tablet-width: 1024px;
$mobile-width: 768px;

// COLOR
$dark-color: #3B3B3B;
$light-color: #D9D9D9;
$first-color: rgb(43, 168, 101);
$second-color: #FF5656;

// TEXT
$small-text-size: 16px;
$normal-text-size: 20px;
$caption-text-size: 30px;